body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: lightcyan;
	padding: 1em;
}

h1 {
	color: darkgoldenrod;
}

.main-container {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
}

.team-list-container {
	margin-top: 1em;
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}