.content-area-div {
	margin: 0;
	padding: 15px;
	background-color: lightyellow;
	flex: 1 1 auto;

	display: flex;
}

.left-div {
	flex: 0 1 auto;
	padding-right: 50px;
	border-right: 1px solid black;
}

.right-div {
	flex: 3 1 auto;
}